*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: block;
}
.wrapper{
    width:1170px;
    margin:0 auto;
    text-align: center;
    color: white;
}
a{
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    text-transform: uppercase;
    text-decoration: none;
}
 body{
     width:1900px;
     font-family: "Raleway", sans-serif;
     font-weight: 400;
     color: #6c7279;
}
 .page-header{
     background:url(../resourse/img/header-bg.jpg) no-repeat;
     background-size: cover;
     height:750px;
 }
.header{
    height: 100px;
    border-bottom: 1px solid #797979;
}
ul li{
    list-style: none;
    color:#fff;
    float: right;
    margin-top:20px;
}
.logo{
    float:left;
    margin:40px 0;
    width: 189px;
    height: 24px;
}
.banner{
    color: #fff;
    text-align: center;
    padding-top: 150px;
    display: block;
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
}
h1{
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 65px;
}
.btn{
    background-color: #e84545;
    border-radius: 2px;
    display:inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
}
.banner_text {
    color: #fff;
font-size: 22px;
font-weight: 300;
line-height: 1.5;
margin-bottom: 80px;
}
.container{
    width:1170px;
    box-sizing: border-box;
    margin:0 auto;
}
.features{
    padding:100px 0;
}
.row div{
    text-align: center;
    position:relative;
    float: left;
    margin-bottom: 50px;
}
h5,h6{
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    margin:10px 0;

}
.col{
    position: relative;
    min-height: 1px;
    float: left;
    width:33.333%;
    padding: 0 15px;
    margin-top: 30px;
}

.col p{
    font-size: 14px;
    line-height: 22px;
    color: #6c7279;
}
.works{
    margin-top:125px;
    height:705px;
    padding:0;
    width:1900px;
}
.project{
    float:left;
    width:25%;
    height:50%;
    padding:0;
    box-shadow: 0 0 0 1px #fff;
}
footer{
    text-align: center;
    float: left;
    width: 1900px;
    background-color:#3a3e64;
}
.footer-top{
    height:250px;
    width:1070px;
    padding-top: 50px;
    margin:0 465px;

}
.footer-bottom {
    height:95px;
    background-color:#313454;
}
h6{
    color:#ffffff;
}
.footer-top div{
    text-align: center;
    position:relative;
    top:10px;
    float: left;
}
.footer-col1{
   width: 150px;
    height: 75px;
    margin-right: 240px;
}
.footer-col3{
    width: 330px;
    height: 100px;
    position: relative;
    left: 160px;
}
.footer-col2 img{
    border: 2px solid #ffffff;
    padding:10px;
    border-radius: 2px;
}
.footer-bottom img{
    position: relative;
    top: 25px;
}
